@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

.tod{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    max-width: 1200px;
    margin: auto;
    height: 100%;
    font-family:'Source Sans 3', sans-serif;
}

.dic{
    margin-top: 25px;
}

h2{
    margin-top: 200px;
    color: rgb(8, 178, 8);
    padding: 10px 0px;
}

h3{
    margin-top: 20px;
    color: rgb(8, 178, 8);
    padding: 10px 0px;
}

.sell{
    border-radius: 5px;
}

.form-control{
    border-radius: 5px;    
}

.btn{
    background-color: rgb(5, 190, 5);
    color: white;
    width: 10%;
    border-radius: 5px;
    border-color: gray;
}

.input{
    width: 100%;
    margin-top: 10px;
    background-color: rgb(8, 178, 8);
    color: black;
}



